


header {
    display: flex ;
    justify-content: space-around;
    height: 60px;
    /* border: dashed red; */
    width: 100vw;
    position: fixed;
    /* margin-left: -45vw; */

   
}
.site_name{
    font-family: 'Kaushan Script';
    color: rgb(254, 209, 54);
    /* font-size: 50% */
    /* font-style: italic; */
    font-weight: 1;
    font-size: 1.25rem;
    padding-top: .3125rem;
    padding-bottom: 3.125rem;
    white-space: normal;

}

.menu-text{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    padding: 1.1em 1em!important;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 24px;
    color: #fff;
    font-family: 'Montserrat';
    text-align: left;
    

}
.menu-text1{
    font-family: 'Montserrat';
    font-size: 12x;
    font-weight: 200;
    letter-spacing: 1px;
    line-height: 35px;
    display: block;
    padding-bottom: 10.8px;
    text-align: left;
    text-decoration-style: solid;
    list-style-position: outside;
}

.site-nav{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    font-family: 'Roboto Slab'
}
.drop-down-menu, .drop-down-menu-open, .drop-down-menu-closed {
    width: 100vw;
    background: rgb(33,37,41);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: -1000;
}

.drop-down-menu {
    display: none;
    font-family: 'Monserrat';
}

.drop-down-menu-open {
    animation: openMenu .5s forwards linear;
}

.drop-down-menu-closed {
    animation: closeMenu .5s forwards linear;
}

@keyframes openMenu {
    from {
        top: -1000px;
    }
    to {
        top: 60px
    }
}

@keyframes closeMenu {
    0% {
        top: 80px;
    }
    100% {
        top: -1000px
    }
}

#site-nav {
    display: flex;
}

#site-nav li {
    list-style: none;
    margin-left: 10px;
    font-size: 25px;
    color: #fff;
}

.menu-button {
    display: none;
}




@media (max-width: 1075px) {
    header {
        background-color: rgb(33,37, 41)
    }
    img {
        display: block;
        transition: width 1s, height 1s;
    }

    img:hover {
        width: 75px;
        height: 75px;
    }

    .menu-text {
        display: none;
    }

    .site_name{
        font-size: 99%;
    }
    .menu-button{
        display: block;
    }
}

    .menu-button{
        /* text-align: center;
        margin: 0;
        border-radius: .75rem;
        font-size:12px;
        right: 0px;
        padding: 13px;
        text-transform: uppercase;
        color: #fff;
        border: 0;
        background-color: #fed136;
        font-family: 'Monserrat'; */
        /* display: block; */
        background-color:#fed136;
        border-color:#fed136;
        font-size:15px;
        padding: 20px 20px;
        font-family: 'Montserrat';
        font-weight: 200;
        color: #fff;
        text-align: center;
        vertical-align: middle;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s;
        transition-property: color, background-color, border-color, box-shadow;
        transition-duration: 0.152, 0.15s, 0.15s, 0.15s;
        transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
        transition-delay: 0s, 0s, 0s, 0s;
        
    }
